---
- name: Deploy
  hosts: all
  vars:
    directory: ~/misterx.lausi95.net
    docker_username: "{{ lookup('env', 'DOCKER_USERNAME') }}"
    docker_password: "{{ lookup('env', 'DOCKER_PASSWORD') }}"
  tasks:
    - name: application directory
      file:
        path: "{{ directory }}"
        state: directory

    - name: sync files
      copy:
        src: "files/"
        dest: "{{ directory }}/"

    - name: Login to Docker registry
      community.docker.docker_login:
        registry_url: "ghcr.io"
        username: "{{ docker_username }}"
        password: "{{ docker_password }}"

    - name: pull images
      shell:
        chdir: "{{ directory }}"
        cmd: docker compose pull

    - name: start images
      shell:
        chdir: "{{ directory }}"
        cmd: docker compose up -d --remove-orphans

    - name: cleanup docker
      shell:
        chdir: "{{ directory }}"
        cmd: docker system prune --all -f