name: Deployment Pipeline [Production]
on:
  push:
    branches: [ main ]

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    env:
      DOCKER_USERNAME: tomlausmann@gmail.com
      DOCKER_PASSWORD: ${{ secrets.GH_TOKEN }}
      DOCKER_IMAGE: ghcr.io/lausi95/city-game/city-game-api:latest
    steps:
      - uses: actions/checkout@v6
      - run: echo $DOCKER_PASSWORD | docker login ghcr.io -u $DOCKER_USERNAME --password-stdin
      - run: docker build -t $DOCKER_IMAGE .
      - run: docker push $DOCKER_IMAGE

  deploy:
    name: Deploy
    needs: [ build ]
    runs-on: ubuntu-latest
    env:
      DOCKER_USERNAME: tomlausmann@gmail.com
      DOCKER_PASSWORD: ${{ secrets.GH_TOKEN }}
    environment:
      name: production
      url: https://misterx.lausi95.net
    steps:
      - uses: actions/checkout@v6
      - name: Setup SSH
        shell: bash
        run: |
          eval `ssh-agent -s`
          mkdir -p /home/runner/.ssh/
          touch /home/runner/.ssh/id_rsa
          echo -e "${{ secrets.SSH_PRIVATE_KEY }}" > /home/runner/.ssh/id_rsa
          chmod 700 /home/runner/.ssh/id_rsa
          ssh-keyscan -t rsa,dsa,ecdsa,ed25519 lausi95.net >> /home/runner/.ssh/known_hosts
      - name: Run ansible script
        shell: bash
        run: |
          sudo service ssh start
          sudo service ssh status
          cd ansible
          echo "${{ secrets.ANSIBLE_VAULT_PASSWORD }}" > vault_password.yml
          cat deploy-prod.yml
          ansible-playbook -vvv -e "ansible_user=tom" --vault-password-file=vault_password.yml --private-key /home/runner/.ssh/id_rsa -i hosts.yml deploy-prod.yml